body {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}


.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 70px;
}

.navbar-header {
    background-color: #fff;
    height: 70px;
    margin-top: -10px;
    width: 245px;
    margin-left: -20px !important;
    padding-left: 70px;
}

.unison-nav-brand-img {
    height: 60px;
    width: auto;
}

.top-nav {
    margin-top: 10px;
    background-color: #2e3192;
}

.notification-bell {
   margin-right: 20px; 
}

.clock-icon {
    margin-right:10px;
}

.fa-bell {
    font-size: 18px;
    color: #fff;
}

.fa-clock-o {
    font-size: 22px;
    color: #fff;
}

.unison-right-sidebar {
    width: 20%;
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
}


.unison-icons {
    height: 100px;
    width: auto;
    /*border: 1px solid #fff !important;*/
}

.unison-icons:hover {
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

div.horizontal {
  display: flex;
  justify-content: center;
}

div.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.unison-maincontent-area {
    width: 90%;
    float: left;
    margin-left: -24px;
    padding: 0px 40px;
    margin-top: -30px;
}

.unison-dashboard-main {
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.unison-dashboard-link {
    height: 140px;
    width: 210px;
    text-align: center;
    background-color: #ffffff;
    /*border: 1px solid #e3e3e3;*/
    border-radius: 4px;
    float: left;
    transition: 0.3s ease;
    margin: 2px;
}

.unison-dashboard-link:hover {
    /*background-color: #2e3192;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);*/
    transition: 0.3s ease;
}

.unison-dashboard-link h3 {
    font-size: 12px !important;
    margin-top: 10px;
    padding: 5px;
}

.unison-dashboard-link:hover h3 {
    color: black !important;
    transition: 0.3s ease;
}

.unison-inner-page-header h2 {
    font-size: 16px;
    clear: both !important;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.unison-p-heading {
    font-size: 10px;
    text-align: center !important;
    margin-bottom: 0px !important;
}

.unison-tab-data {
    height: 250px;
    overflow-y: scroll;
}

.unison-tab-data-p {
    font-size: 12px;
    font-weight: 500;
}

.unison-tab-data-p-meta {
    font-size: 10px;
    font-weight: 300;
}

.unison-tab-data-item {
    padding: 10px 0 0px;
    border-bottom: 1px solid #777;
}

.m-t-80 {
    margin-top: 80px;
}

.btn-primary {
    color: #fff;
    background-color: #2e3192;
    border-color: #2e3192;
}

.right-container {
    margin-top: 120px !important;
}

.unison-daily-tip {
    clear: both;
    padding: 15px;
    background-color: #f5f5f5;
    margin-top: -15px !important;
}

.unison-tip {
    margin-top: 20px;
}

.unison-dwt {
    width: 100%;
    height: auto;
}

.p-0 {
    padding: 0px;
}

.unison-dwt-right {
    padding-left: 5px;
    padding-right: 5px;
}

.unison-dwt-right h5 {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.unison-dwt-right p {
    font-size: 10px;
    margin-top: 5px;
    line-height: 12px;
    margin-bottom: 0px;
}

.unison-wellness-mag {
    background-image: url('../images/wellness-mag.jpg');
    background-size: cover;
    width: 100%;
    padding: 30px;
    text-align: center;
    margin-top: 5px;
}

.unison-newsletter {
    background-image: url('../images/newsltr.jpeg');
    background-size: cover;
    width: 100%;
    padding: 30px;
    text-align: center;
    margin-top: 5px;
}

.unison-wellness-mag h4, .unison-newsletter h4 {
    font-weight: bold;
    color: #333;
}

.form-submit-btn {
    float: right;
    margin-left: 0px;
    margin-bottom: 40px !important;
    width: 150px;
    margin-right: 105px;
}

.edit-user-form {
    background-color: #fff;
    padding: 40px;
}

.edit-user-form h4 {
    color: #000000;
    font-family: 'Open Sans' !important;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 3px;
}

.form-action-btns {
    float: right;
    margin: 40px;
}

.left-sidebar-icon {
    width: 30px;
    height: auto;
    margin-right: 10px;
    border: 1px #ccc solid;
    padding: 3px;
    border-radius: 50%;
}

.fa.pull-right {
    margin-left: .3em;
    margin-top: .6em;
}

.ml-45 {
    margin-left: 45px;
}

.label-icon {
    height: 10px;
    width: auto;
    margin-right: 5px;
}

.inner-label-text {
    font-size: 12px;
    font-weight: 600;
}

#chang-menu-icon {
    font-size: 14px;
    padding: 3px 4px;
    border: 2px solid #000;
    border-radius: 50%;
}

.right-social-bar {
    margin-top: -40px;
    max-width: 300px;
    float: right;
}

.editform-sbt-btn {
    margin-bottom: 20px;
}

.add-btn {
    height: 20px;
    width: auto;
}