body, html {
    height: 100%;
}
body { 
    /* The image used */
    background-image: url("../Port-15-1610x1000.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
p,h1{
    font-family:Monaco;
    padding-left:30px;
    font-weight:40;
}

p{
    
    position: fixed;
    bottom: 0;

}
